.my-card{
    width:40%;
    margin:auto;
}

.my-form{
    min-width: 100px;
    max-width: 500px;
    
  }
   
.full-width {
    width: 100%;
  }

.test{
    background-color: blueviolet;
}
#button2{
    margin-left: 10px;
}