
.main-container{
    color: mintcream;
    background-image: url(../../assets/images/charity3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:740px;
    width:100%;
    margin-right:0px;
    margin-top: 25px;
    background-color: gray;
}